smart:
  dataMachineId: 4
  async: true
  log:
    rpclog: true
    apilog: true

server:
  port: 20032
  
spring:
  application:
    name: basicServiceAuth
  redis:
    host: localhost
    port: 6379
    password: 123456
    database: 0
    timeout: 10000ms
    jedis:
      pool:
        max-active: 1000
        min-idle: 0
        max-idle: 100
        max-wait: 10000ms